<p id= "shopping">Contact Us</p>

<img id="plumbus" src="Plumbus.jpg">

<input id="number" maxlength="1" size="1">

<button id="order" type="button">How Many Plumbus's Would You Like To Order? (Max. 9)
</button>

<p id="amount"></p>

<div id = "div">
  <input id="number" maxlength="10" size ="10"> Username
  <p>
    <input id="number" maxlength="15" size ="15"> Password
  </p>
  <p>
    <button id="signup">Sign Up To Complete Order</button>
  </p>
</div>
