<!-- Home Page -->

<p id= "home_header">Plumbus</p>
<p id="home_living">Now You're Living</p>

<p id="home_intro">Thanks for stopping by! We see you are interested in the Plumbus. What caught your eye? Was it the texture of the Floob or the sleek shape of the Grodus? <span class="amatic"><strong>Yeah, us too.</strong></span>
</p>
<div id="home_introBackground">
</div>

<p id="home_what">You may be asking yourself,
"What does it do?". What you should be asking is <span class="amatic"><strong>what doesn't it do?</strong></span> The possibilites are endless and are also possibilities. Get creative!
</p>
<div id="home_whatBackground">
</div>
<p id="home_gettingStarted"> Not sure where to start? Try Plumbus with a kitchen or a load of laundry.
</p>
<div id="home_startedBackground">
</div>
<img id="kitchen" src="images/kitchen.png">
<img id="clothes" src="images/laundry.png">
<div id="home_learn_more">
  <img id="home_fleebImg"src="images/fleeb.png" alt="">
  <p id="home_parts">Click the plumbus to learn more about its parts or click on the image below to see how it's made! </p>
  <div id="home_behindParts">
  </div>
  <span id="floob">Floob</span>
  <div id="moused_flb" class="glow"></div>
  <span id="grodus">Grodus</span>
  <div id="moused_grd" class="glow"></div>
  <span id="chumble">Chumble</span>
  <div id="moused_chb" class="glow"></div>
  <span id="gromble">Gromble</span>
  <div id="moused_grb" class="glow"></div>
</div>
<a href="how"><img id="howItMade" class="grow" src="images/Step2.png" alt="">
</a>
<script type="text/javascript"src="plumbus.js"></script>
