<!-- Home Page -->

<p id= "home_header">Plumbus</p>
<p id="home_living">Now You're Living</p>

<p id="home_intro">Thanks for stopping by! We see you are interested in the Plumbus. What caught your eye? Was it the texture of the Floob or the sleek shape of the Grobus? <span class="amatic"><strong>Yeah, us too.</strong></span>
</p>
<div id="home_introBackground">
</div>
<img id="home_fleebImg"src="fleeb.png" alt="">

<p id="home_what">You may be asking yourself,
"What does it do?". What you should be asking is <span class="amatic"><strong>what doesn't it do?</strong></span> The possibilites are endless and are also possibilities. Get creative!
</p>
<div id="home_whatBackground">
</div>
<p id="home_gettingStarted"> Not sure where to start? Try Plumbus with a kitchen or a load of laundry.
</p>
<div id="home_startedBackground">
</div>
<img id="kitchen" src="kitchen.png">
<img id="clothes" src="laundry.png">
<div id="learn_more">
  <p id="parts">If you want to learn more about your future Plumbus, just mouse over the parts! </p>
  <span id="floob">Floob</span>
  <div id="moused_floob"></div>
  <span id="grodus">Grodus</span>
  <div id="moused_grodus"></div>
  <span id="chumble">Chumble</span>
  <div id="moused_chumble"></div>
  <span id="gromble">Gromble</span>
  <div id="moused_gromble"></div>
</div>
