<p id="how_title">How It's Made!</p>
<p id="how_steps">(In Seven Steps)</p>

<div id="how_behindContainer">

</div>
<div class="slideshow-container">
  <div class="pics">
    <div class="numbertext">STEP ONE</div>
    <img src="Step1.png" style="width:100%">
    <div class="text">First we take the dingle bop and they smooth it out with a bunch of schleem. The schleem is then...repurposed for later batches.
  </div>
</div>

 <div class="pics">
    <div class="numbertext">STEP TWO</div>
    <img src="Step4.png" style="width:100%">
    <div class="text">They take the dingle bop and they push it through the grumbo.
    </div>
  </div>

 <div class="pics">
    <div class="numbertext">STEP THREE</div>
    <img src="Step5.png" style="width:100%">
    <div class="text">Then fleeb is rubbed against it. It's important that the fleeb is rubbed, becasue the fleeb has all the fleeb juice.
    </div>
  </div>
   <script type="text/javascript" src="how.js">

   </script>

 <div class="pics">
    <div class="numbertext">STEP FOUR</div>
    <img src="Step6.png" style="width:100%">
    <div class="text">Then, a schlami shows up, and he rubs it...and spits on it.</div>
 </div>

  <div class="pics">
    <div class="numbertext">STEP FIVE</div>
    <img src="Step7.png" style="width:100%">
    <div class="text">They cut the fleeb. There's several hizzards in the way.</div>
  </div>

  <div class="pics">
    <div class="numbertext">STEP SIX</div>
    <img src="Step8.png" style="width:100%">
    <div class="text">The blamfs rub against the chumbles, and the...plubis, and grumbo are shaved away.</div>
  </div>

  <div class="pics">
    <div class="numbertext">STEP SEVEN</div>
    <img src="Step9.png" style="width:100%">
    <div class="text">That leaves you with...a regular old plumbus.</div>
  </div>
</div>

<div id="button">
 <button id="prev" onclick="plusPictures(-1)">BACK</button>
 <button id="next" onclick="plusPictures(1)">NEXT</button>
 </div>
