<p id= "test_header">Testimonials</p>
<p id="test_question">How do I Hold it?</p>

<p class="test_intro">See what people are saying about Plumbus</p>
<p class="test_intro"> How do I hold it?</p>
<p class="test_intro">Is it supposed to cry?</p>
<p class="test_intro">My socks have more time!</p>
<p class="test_intro">I'm coming for you *****!</p>

<div id="test_mortyContainer">
  <img id="test_mortyImg"src="images/morty.png" alt="">
  <p id=test_morty class="amatic">Like I really don't know what to say about it. Does it...does it do the quantum carburetor or something? I, uh, I don't like to touch it, you know? I can't tell if I am touching the front or what, you know? One time, uh, one time it started sweating so I put it in a drawer.</p>
</div>
<div id="test_poopyContainer">
  <img id="test_poopyImg"src="images/poopy.png" alt="">
  <p id=test_poopy class="amatic">Ohh Wee, this little poopy pants love Plumbus. Like I remember there was this time when all my socks were inside out. Ohh weee, thank god I had a Plumbus.</p>
</div>
<div id="test_scaryContainer">
  <img id="test_scaryImg"src="images/scary_terry.png" alt="">
  <p id=test_scary class="amatic">Awe *****, you know I just wanna say I'm Scary Terry and I'm coming for you *****. I don't care if you have a Plumbus, your're mine *****!</p>
</div>
<div id="test_antsModal" class="animated pulse infinite">
  <img id="ants" src="images/ants.jpg" alt="">
  <p id="test_modalText" class="amatic">I'm Ants in my eyes Johnson! I'm here to tell you that even though I have ants crawling all over my eyes I can see the insane deals on these appliances. This toaster is a price. That microwave has a price as well. I'm sure it's great but I can't tell because of all the ants. Order now!</p>
  <p id="close">Close</p>
</div>
<script type="text/javascript"src="testimonials.js">

</script>
